@mixin default-wrap {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
}

@mixin list-reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
