@use "./mixins";

.footer {
	text-align: center;
	padding: 40px;
	background: var(--color-dark);
	color: var(--color-light);

	&__list {
		@include mixins.list-reset;
		@include mixins.flex-center;
	}

	&__image {
		width: 35px;
	}

	&__copyright {
		font-size: var(--font-size-small);
	}
}
