header {
	height: 100%;
	background-image: linear-gradient(rgb(72 61 139 /0.5), rgb(72 61 139 /0.5)),
		url(https://mark-grayson1.github.io/personal-portfolio/images/snowdon.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: var(--color-light);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
