.bg-dark a,
.bg-primary a {
	color: var(--color-light);
}

.nav {
	background: var(--color-dark);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	&__list {
		display: flex;
		justify-content: center;
	}
	&__list a {
		color: #fff;
		padding: 20px;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
	}
	&__list a:hover {
		text-decoration: underline;
	}
}
